# dbt artifacts
target/
dbt_packages/
dbt_modules/
logs/

# Siempre dejar fuera
profiles.yml

# Archivos de estado de dbt
.user.yml

# Extensiones de VS Code o editores
.vscode/
.idea/
*.swp

# Archivos de sistema (Windows/Mac)
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc